<!DOCTYPE html>

<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}"> {% block head %}{% endblock head %}
</head>

<body>
    {% if url_for(request.endpoint) != "/" %}
    <div class="top-menu">
        <div class="top-menu__inner wrapper">
            <a class="top-menu__logo" href="/catalog">
                <img src="{{ url_for('static', filename='images/Logo.png') }}">
            </a>
            <div class="search">
                <input type="text" class="search__entry no-right-border">
                <input type="submit" class="search__submit button no-left-border" value="поиск">
            </div>
            <a href="/create">
            + создать заявку
        </a>
            <button class="button button_catalog"><img src="{{ url_for('static', filename='images/burger.svg') }}">каталог</button>
        </div>
    </div>
    {% endif %} {% block content %}{% endblock content %}
</body>

</html>