{% extends "base.html" %} {% block head %}
<title>Каталог заявок | PPnP</title>
{% endblock head %} {% block content %}
<section class="content">
    <h1 class="section-header wrapper">Заявки</h1>
    <div class="requests wrapper">
        <div class="articles-gallery">
            {% for request in requests %}

            <article class="request">
                <div class="request__info">
                    <h3>{{ request.goods }}</h3>
                    <p>
                        Срок ожидания:
                        <time datetime="{{ request.waiting_period }}"
                            >{{ request.waiting_period }}</time
                        >
                        д.
                    </p>
                    <p>
                        Дата доставки: {{ request.delivery_date.day }} {{
                        request.delivery_date.month }}
                    </p>
                    <a href="/details/{{ request.id }}" class="body-link"
                        >Подробнее</a
                    >
                </div>
                <img
                    class="request__preview"
                    src="{{ url_for('static', filename='images/' + request.picture) }}"
                />
            </article>

            {% endfor %}
        </div>
        <div class="filters">
            <h3 class="filters__header">Фильтры</h3>
            <div class="filters__filter">
                <p>Категория</p>
                <select>
                    {% for category in categories %}
                    <option>{{ category[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filters__filter">
                <p>Срок ожидания</p>
                <input type="date" />
            </div>
            <div class="filters__filter">
                <p>Срок доставки</p>
                <input type="date" />
            </div>
            <div class="filters__filter">
                <a href="/completed" class="body-link">Показать завершенные</a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
