{% extends "base.html" %} {% block head %}
<title>Каталог товаров | PPnP</title>
{% endblock head %} {% block content %}
<section class="content">
    <h1 class="section-header wrapper">Каталог</h1>
    <div class="wrapper">
        <div class="catalog-list">
            <a href="#" class="catalog-list__item catalog-list__item_major">Письменные принадлежности</a>
            <a href="#" class="catalog-list__item catalog-list__item_major"">Офисные принадлежности</a>
            <a href="#" class="catalog-list__item catalog-list__item_major"">Бумажная продукция</a>
            <a href="#" class="catalog-list__item catalog-list__item_major"">Папки и файлы</a>
            <a href="#" class="catalog-list__item catalog-list__item_major"">Демонстрационные доски</a>
            <a href="#" class="catalog-list__item catalog-list__item_major"">Чертёжные принадлежности</a>
            <a href="#" class="catalog-list__item catalog-list__item_major"">Калькуляторы</a>
            <a href="#" class="catalog-list__item catalog-list__item_major"">Печати и штампы</a>
            <a href="#" class="catalog-list__item">Ручки</a>
            <a href="#" class="catalog-list__item">Клей</a>
            <a href="#" class="catalog-list__item">Бумага для печати</a>
            <a href="#" class="catalog-list__item">Папки для бумаги</a>
            <a href="#" class="catalog-list__item">Пробковые доски</a>
            <a href="#" class="catalog-list__item">Угольники</a>
            <a href="#" class="catalog-list__item">Карманные калькуляторы</a>
            <a href="#" class="catalog-list__item">Печати канцелярские</a>
            <a href="#" class="catalog-list__item">Карандаши</a>
            <a href="#" class="catalog-list__item">Скотч</a>
            <a href="#" class="catalog-list__item">Бумага для факса</a>
            <a href="#" class="catalog-list__item">Файлы и разделители</a>
            <a href="#" class="catalog-list__item">Маркерно-меловые доски</a>
            <a href="#" class="catalog-list__item">Транспортиры</a>
            <a href="#" class="catalog-list__item">Настольные калькуляторы</a>
            <a href="#" class="catalog-list__item">Штампы</a>
            <a href="#" class="catalog-list__item">Аксессуары для карандашей</a>
            <a href="#" class="catalog-list__item">Канцелярские ножи</a>
            <a href="#" class="catalog-list__item">Бумага широкоформатная</a>
            <a href="#" class="catalog-list__item">Папки-планшеты</a>
            <a href="#" class="catalog-list__item">Маркерные доски</a>
            <a href="#" class="catalog-list__item">Линейки</a>
            <a href="#" class="catalog-list__item">Инженерные калькуляторы</a>
            <a href="#" class="catalog-list__item">Футляры для штампов</a>
            <a href="#" class="catalog-list__item">Степлеры и скобы</a>
            <a href="#" class="catalog-list__item">Фотобумага</a>
            <a href="#" class="catalog-list__item">Папки адресные</a>
            <a href="#" class="catalog-list__item">Магнитные доски</a>
            <a href="#" class="catalog-list__item">Циркули</a>
        </div>
    </div>
</section>

{% endblock content %}