{% extends "base.html" %} {% block head %}
<title>Создание заявки | PPnP</title>
{% endblock head %} {% block content %}
<section class="content wrapper">
    <h1 class="section-header">Создать заявку</h1>
    <form class="create-request" method="post" action="{{ action}}">
        <div class="create-request__column">
            <div>
                <p>1. Категория товара</p>
                {{ form.category }}
            </div>
            <div>
                <p>2. Название товара</p>
                {{ form.goods }}
            </div>
            <div>
                <p>3. Количество</p>
                {{ form.quantity }}
            </div>
        </div>
        <div class="create-request__column">
            <div>
                <p>4. Срок ожидания</p>
                {{ form.waiting_period(type="date") }}
            </div>
            <div>
                <p>5. Срок доставки</p>
                {{ form.delivery_date(type="date") }}
            </div>
            <div>
                <p>6. Адрес доставки</p>
                {{ form.address }}
            </div>
        </div>
        {{ form.notes }} {{ form.submit }}</form> {% endblock content %}