<!DOCTYPE html>

<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <title>Главная | PPnP</title>
</head>

<body>
    <img src="{{ url_for('static', filename='images/portal_1.png') }}" class="fake_portal">
    <img src="{{ url_for('static', filename='images/portal_2.png') }}" class="fake_portal">
    <img src="{{ url_for('static', filename='images/portal_3.png') }}" class="fake_portal">
    <form class="region-popup region-popup_hidden" action="/search/0">
        <p class="region-popup__label">Регион поставки</p>
        <input type="text" placeholder="Москва" required>
        <p class="region-popup__label">Контрольный срок формирования</p class="region-popup__label">
        <input type="date" required>
        <p class="region-popup__label">Количество</p class="region-popup__label">
        <input type="number" min=0 value=1 required><br><br>
        <input type="submit" class="button send-request" value="Найти предложения">
        </form>
    <script>
        const popup = document.querySelector(".region-popup")

        document.addEventListener("click", () => {
            popup.classList.add("region-popup_visible")
            document.querySelector("img").classList.add("blurred")
        })
    </script>
</body>

</html>