{% extends "base.html" %} {% block head %}
<title>Поиск | PPnP</title>
{% endblock head %} {% block content %}
<section class="content">
  <div class="section-header wrapper">
    <h1>Результаты поиска</h1>
    <div class="not-found not-found_hidden">
      <br />
      <h3>
        Ничего похожего не нашлось. Но вы можете посмотреть похожие предложения
        или <a href="/create" class="body-link">создать свою заявку</a>.
      </h3><br>
      <h2 class="accent">Похожие предложения</h2><br>
      <div class="articles-gallery">
        <article class="request">
          <div class="request__info">
            <h3>Шайба 5 см</h3>
            <p>
              Срок ожидания: 4 д.
            </p>
            <p>
              Дата доставки: 24 февраля
            </p>
            <a href="/details/1" class="body-link">Подробнее</a>
          </div>
          <img
            class="request__preview"
            src="{{ url_for('static', filename='images/shayba_similar1.png') }}"
          />
        </article>
        <article class="request">
          <div class="request__info">
            <h3>Шайба 6 см</h3>
            <p>
              Срок ожидания: 6 д.
            </p>
            <p>
              Дата доставки: 26 февраля
            </p>
            <a href="/details/1" class="body-link">Подробнее</a>
          </div>
          <img
            class="request__preview"
            src="{{ url_for('static', filename='images/shayba_similar2.png') }}"
          />
        </article>
        <article class="request">
          <div class="request__info">
            <h3>Шайба утяжеленная</h3>
            <p>
              Срок ожидания: 10 д.
            </p>
            <p>
              Дата доставки: 2 марта
            </p>
            <a href="/details/1" class="body-link">Подробнее</a>
          </div>
          <img
            class="request__preview"
            src="{{ url_for('static', filename='images/shayba_similar3.png') }}"
          />
        </article>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="search-spinner">
      <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
      </div>
      <h3 class="search-spinner__label">Поиск...</h3>
    </div>
    <div class="articles-gallery articles-gallery_hidden">
      {% for request in requests %}

      <article class="request">
        <div class="request__info">
          <h3>{{ request.goods }}</h3>
          <p>
            Срок ожидания:
            <time datetime="{{ request.waiting_period }}"
              >{{ request.waiting_period }}</time
            >
            д.
          </p>
          <p>
            Дата доставки: {{ request.delivery_date.day }} {{
            request.delivery_date.month }}
          </p>
          <a href="/details/{{ request.id }}" class="body-link">Подробнее</a>
        </div>
        <img
          class="request__preview"
          src="{{ url_for('static', filename='images/' + request.picture) }}"
        />
      </article>

      {% endfor %}
    </div>
  </div>
</section>
{% if flag == 0 %}
<script>
  document.addEventListener("DOMContentLoaded", () => {
    setTimeout(() => {
      document
        .querySelector(".search-spinner")
        .classList.add("search-spinner_hidden");
      document
        .querySelector(".not-found")
        .classList.remove("not-found_hidden");
    }, 3000);
  });
</script>
{% else %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
      setTimeout(() => {
        location.href = "/details/1"
      }, 3000);
    });
  </script>
{% endif %}
{% endblock content %}
