{% extends "base.html" %} {% block head %}
<title>Кабинет поставщика | PPnP</title>
{% endblock head %} {% block content %}
<div class="content">
  <div class="section-header wrapper">
    <h1>
      Совместная закупка №1533<br /><span class="accent"
        >Кабинет поставщика</span
      >
    </h1>
  </div>
  <div class="articles-gallery wrapper">
  <article class="request">
                <div class="request__info">
                    <h3>Степлер</h3>
                    <p>
                        Срок ожидания: 5 д.
                    </p>
                    <p>
                        Дата доставки: 3 февраля
                    </p>
                    <a href="/details/1" class="body-link"
                        >Подробнее</a
                    >
                </div>
                <img
                    class="request__preview"
                    src="{{ url_for('static', filename='images/stepler.jpg') }}"
                />
            </article>
    </div><br>
  <div class="wrapper">
    <table class="completed-table">
      <thead>
        <tr>
          <td>№ Контракта</td>
          <td>Заказчик</td>
          <td>Адрес поставки</td>
        </tr>
      </thead>
      <tbody>
        {% for customer in customers %}
        <tr>
          <td>{{ customer.id }}</td>
          <td>{{ customer.name }}</td>
          <td>{{ customer.address }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="logistics">
      <button class="button logistics__button">Логистика</button>
      <p class="logistics__note">
        Нажмите для построения эффективного маршрута
      </p>
    </div>
    <br />
    <div style="width: 1100px; height: 1000px" id="map"></div>
  </div>
</div>
{% for customer in customers %}
<meta class="address" data-address="{{ customer.lat }},{{customer.long}}" />
{% endfor %}

<script
  src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
  type="text/javascript"
  charset="utf-8"
></script>
<script
  src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
  type="text/javascript"
  charset="utf-8"
></script>
<script>
  const button = document.querySelector(".logistics__button");
  const addresses_elements = document.querySelectorAll(".address");

  button.addEventListener("click", () => {
    // Instantiate a map and platform object:
    var platform = new H.service.Platform({
      apikey: "qBwms8eMSau6qiUa0CoLoqVbEx8TjwulcFNCQBpATbo"
    });
    // Retrieve the target element for the map:
    var targetElement = document.getElementById("map");

    // Get the default map types from the platform object:
    var defaultLayers = platform.createDefaultLayers();

    // Instantiate the map:
    var map = new H.Map(
      document.getElementById("map"),
      defaultLayers.vector.normal.map,
      {
        zoom: 1
      }
    );
    // Create the parameters for the routing request:
    var routingParameters = {
      // The routing mode:
      mode: "fastest;car",
      // To retrieve the shape of the route we choose the route
      // representation mode 'display'
      representation: "navigation"
    };

    for (let i = 0; i < addresses_elements.length; i++) {
      let address = addresses_elements[i].getAttribute("data-address");
      routingParameters["waypoint" + i] = address;
    }

    console.log(routingParameters);

    // Define a callback function to process the routing response:
    var onResult = function(result) {
      var route, routeShape, startPoint, endPoint, linestring;
      if (result.response.route) {
        // Pick the first route from the response:
        route = result.response.route[0];
        // Pick the route's shape:
        routeShape = route.shape;

        // Create a linestring to use as a point source for the route line
        linestring = new H.geo.LineString();

        // Push all the points in the shape into the linestring:
        routeShape.forEach(function(point) {
          var parts = point.split(",");
          linestring.pushLatLngAlt(parts[0], parts[1]);
        });

        // Retrieve the mapped positions of the requested waypoints:
        startPoint = route.waypoint[0].mappedPosition;
        endPoint = route.waypoint[1].mappedPosition;

        // Create a polyline to display the route:
        var routeLine = new H.map.Polyline(linestring, {
          style: { strokeColor: "blue", lineWidth: 3 }
        });

        // Create a marker for the start point:
        var startMarker = new H.map.Marker({
          lat: startPoint.latitude,
          lng: startPoint.longitude
        });

        // Create a marker for the end point:
        var endMarker = new H.map.Marker({
          lat: endPoint.latitude,
          lng: endPoint.longitude
        });

        // Add the route polyline and the two markers to the map:
        map.addObjects([routeLine, startMarker, endMarker]);

        // Set the map's viewport to make the whole route visible:
        map
          .getViewModel()
          .setLookAtData({ bounds: routeLine.getBoundingBox() });
      }
    };

    // Get an instance of the routing service:
    var router = platform.getRoutingService();

    // Call calculateRoute() with the routing parameters,
    // the callback and an error callback function (called if a
    // communication error occurs):
    router.calculateRoute(routingParameters, onResult, function(error) {
      alert(error.message);
    });
  });
</script>
{% endblock content %}
